
    <div class="contact-us">
      <div class="contact">
        
        <h4>About Us</h4>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Who We Are" href="/about">  Who We Are</a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Management Team"  href="/management">  Management Team </a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Airline stock"  href="/airlinestock"> Airline stock</a>
      </div>
      <div class="contact">
        
        <h4>Product & Services</h4>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="" href="">  Aviation Security</a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href="/logistics"> Aviation Logistics</a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href="/protocol">  Protocol Services </a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href="/travel-insurance">  Travel Insurance </a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href="/cancellation">  Cancellation and Refund Assistance </a>
      </div>
      
      <div class="contact">
        
        <h4>Information</h4>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href=""> FAQ</a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href="/t&c"> Terms & Conditions </a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href="/feedback">Feedback/ Enquiry form </a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href="/privacy"> Privacy Policy </a>
      </div>
      <div class="contact">
        
        <h4>Contact Info</h4>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Address" href="" > <span><i class="far fa-building"></i></span> 25 Mobolaji Bank Anthony
          Maryland Ikeja, Lagos, Nigeria </a>
        
        <a class="btn" data-toggle="tooltip" data-placement="top" title="01-4485370" href="tel:01-4485370"> <span><i class="fas fa-phone"></i></span> 01-4485370</a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href=""><span><i class="fas fa-envelope"></i></span> info@Tripplug.com</a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title=""  href=""> <span><i class="fas fa-globe"></i></span> Tripplug.com</a>
      </div>
     
      
    </div>
    
    <footer class="footer">
        <p > <b>&copy; 2021 Tripplug.</b>  All Rights Reserved.</p>
        
        <div>
          
          <!-- <p >Tripplug is a proud part of <a class="" href=""
            ><img 
              src="https://i.imgur.com/QcRNmcy.png"
              style="width: 10%"
             
          /></a>  BRAND</p> -->
        </div>
        <div class="icons "  >
        
          <a class="btn" data-toggle="tooltip" data-placement="top" title="Facebook" href="https://www.facebook.com/Tripplugng-106669491410840" > <img src="\images\facebook.png" alt=""> </a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Twitter" href="https://twitter.com/tripplugng"><img src="\images\twitter.png" alt=""> </a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Instagram" href="https://www.instagram.com/tripplugng/"> <img src="\images\instagram.png" alt=""> </a>
        <a class="btn" data-toggle="tooltip" data-placement="top" title="Linked In" href="https://www.linkedin.com/company/almlgroup/"> <img src="\images\linkedin.png" alt=""> </a>
        </div>
       