
    
    <div class="about-head">
      <p>About Tripplug</p>
    </div>
    <div class="about shadow">
  <h3 class="mb-4">Tripplug <small class="form-text text-muted" style="font-size: 15px;">CONNECT. DISCOVER. EXPLORE</small></h3>
  
  <h3 class="mb-4">Who We Are</h3>
  <p>Tripplug is a leading online travel agency in Nigeria based in Lagos. Nurtured from the seed of a single great idea - to empower the traveler.</p>
  <p>Tripplug offered travelers the convenience of booking travel online with a few clicks.</p>
  <p> We have planned ahead to stay ahead of the curve by continually evolving its technology to meet the ever-changing demands of the rapidly developing global travel market, steadily establishing itself as Nigeria's leading online travel company.
  </p>
  <p> We seek to make your travel process more seamless and affordable, flight booking, hotel reservations, travel packages, activities, airport transfers, protocol, lounge, and access with guaranteed on-demand, real-time booking.
  </p>
  <p>We’ve built up longstanding relationships with worldwide partners which allow us to go the extra mile for you in each of our destinations. </p>
  <P>We are your one One-stop Travel Partner and we’ve made it easy for millions of travelers to find unique and unmissable things to do wherever you travel to.</P>
  <p>  We've got your entire trip covered! Travel is our business. If you also love travel, you're in the right place!
  </p>
  <p>Let's get started.</p>
    </div>
    <div class="about-us">
        <div class="text shadow">
          <img src="/images/eye.png"  alt="">
            <h4>VISION</h4>
            <p>To become the most relevant travel agency providing thoughtful  travel solutions for clients</p>
        </div>
        <div class="text shadow">
                    <img src="/images/target.png"  alt="">

            <h4>MISSION</h4>
            <p>Provide customized travel solutions, within the tourism segment, in order to promote travel
                Developing long term relationships with customers based on trust, knowledge, and integrity</p>
        </div>
        <div class="text shadow">
          <img src="/images/value.png"  alt="">
          
            <h4>VALUES</h4>
    
            <p>Commitment  .Innovation .Integrity</p>
            
               
        </div>
    </div>
      
      
    
   
   
    
    