
    <div class="airline-head">
      <p>Airline Stock</p>
    </div>
    <div class="airline shadow ">
        <div class="airline-text ">
            <p>The Aviation Industry  comprises of varieties of  air transportation and travel services for consumers.</p>
            <p>Tripplug through her global partnership has ticket stock with all airlines that fly into Nigeria and beyond</p>
            <p>A few of the airlines we have direct sales point with is shown below:</p>
        </div>
        <div class="airline-text">
            
    <img src="https://i.imgur.com/KJndDIv.png" alt="">
        </div>
        
    
    </div>
    
    <br>
  
   