
    <div class="package">
        <h5>EXPERIENCE THE JOY OF EASTER IN THE BEAUTIFUL CITY OF DUBAI</h5>
        <div class="deals">
            <div class="image">
                
                <img style="" src="https://i.imgur.com/bCEO11L.jpg" alt="">
                <div class="option">
                    <div class="tools">
                        <p>location</p>
                        <p>Dubai</p>
                    </div>
                    <div class="tools">
                        <p>Package opened</p>
                        <p>NOW</p>
                    </div>
                    <div class="tools">
                        <p>Package closes</p>
                        <p>10 Apr, 2021</p>
                    </div>
                    <div class="tools">
                        <p>₦250,125 per person sharing</p>
                        <a class="btn btn-primary ">Call to Book</a>
                    </div>
                </div>
            </div>
            <div class="recommend">
                
                <p>You May Also Like This:</p>
                <div class="extra">
                  <a href=""> 
                    
                    <img style="width: 100px; height:100px;" src="https://i.imgur.com/bCEO11L.jpg" alt="">
                        <p>Love cruise</p>
                        <p> <span><i class="fas fa-map-marker-alt"></i></span> Dubai</p> 
                        <p>₦50,000</p>
                  </a>
                </div>
                <div class="extra">
                  <a href="">
                    
                    <img style="width: 100px; height:100px;" src="https://i.imgur.com/bCEO11L.jpg" alt="">
                    <p>Couple Fantasies</p>
                        <p> <span><i class="fas fa-map-marker-alt"></i></span> London</p>
                        <p>₦50,000</p>
                  </a>
                </div>
                <div class="extra">
                  <a href="">
                    
                    <img style="width: 100px; height:100px;" src="https://i.imgur.com/bCEO11L.jpg" alt="">
                    <p>Business Trip</p>
                        <p> <span><i class="fas fa-map-marker-alt"></i></span> dubai</p>
                        <p>₦50,000</p>
                  </a>
                </div>
            </div>
        </div>
    <div class="description">
        <h6>Inclusions:</h6>
        
        <ul>
            <li> <span><i class="far fa-hand-point-right"></i></span> 6 Nights Accommodation in Studio M Arabian Plaza</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Daily Breakfast</li>
            <li> <span><i class="far fa-hand-point-right"></i></span>  Visa</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Desert Safari with Dinner</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Burj Khalifa 124th Floor Tour Non-Prime Hours</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Dubai Aquarium and underwater Zoo</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Insurance</li>
            <li> <span><i class="far fa-hand-point-right"></i></span>  Return Airport Transfer</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> All Taxes excluding Tourism Dirham </li>
        </ul>
        <p>All tours and transfers are on PVT basis except for Desert Safari.</p>
    </div>
    
        
        
    </div>
   