
   
    <div class="feedback-head">
      <p>Feedback</p>
    </div>
    <div class="lounge-div">
      <div class="lounge-text">
        
        <h4>Feedback Form</h4>
        <p>Thank you for taking the time to tell us about your experience. Your feedback is highly appreciated as it helps us to continually improve. For issues related to our customer service or a booking, please use our online Service Chat.</p>
          
       
    </div>
      <div class="lounge-text">
        
        <h4>Required Information</h4>
        
        <form id="paymentform"  >
            <div class="form-group category">
              <p for="">Category</p>
              <label class="radio-inline"><input type="radio" name="optradio" checked>Hotels</label>
              <label class="radio-inline"><input type="radio" name="optradio">Oasis Lounge</label>
              <label class="radio-inline"><input type="radio" name="optradio">Airport Transfers</label>
              <label class="radio-inline"><input type="radio" name="optradio">Others</label>
              </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Full Name</label>
            <input type="text" class="form-control" id="fullname" aria-describedby="" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email"  required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
          </div>
          <div class="form-group">
            <label for="Amount">Phone Number</label>
            <input type="phone" class="form-control" id="phonenumber" required>
          </div>
         
          <div class="form-group">
            
            <button type="submit" class="btn btn-primary book-now">Submit</button>
          </div>
        </form>
       
      </div>
      
      
    </div>
    
   