
    <div class="lounge-div">
      <div class="lounge-text">
        
        <h4>Aviation Logistics Form</h4>
        <p>Aviation Logistics and Management Limited provides GSA (General Sales Agent) services to Passenger and Cargo Airlines, in Nigeria. As part of the ALML Group – a dynamic leading logistics and aviation services corporation in Nigeria – Aviation Logistics and Management Limited offers its customers top service performance for both passenger and cargo handling operations.</p>
          
       
    </div>
      <div class="lounge-text">
        
        <h4>Required Information</h4>
        
        <form id="paymentform"  >
           
          <div class="form-group">
            <label for="exampleInputEmail1">Full Name</label>
            <input type="text" class="form-control" id="fullname" aria-describedby="" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email"  required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
          </div>
          <div class="form-group">
            <label for="Amount">Phone Number</label>
            <input type="phone" class="form-control" id="phonenumber" required>
          </div>
         
          <div class="form-group">
            
            <button type="submit" class="btn btn-primary book-now">Submit</button>
          </div>
        </form>
       
      </div>
      
      
    </div>
    
   