
    <div class="package">
        <h5>LOVE IN MALLDIVES</h5>
        <div class="deals">
            <div class="image">
                
                <img src="https://i.imgur.com/s1tn4Sr.jpg" alt="">
                <div class="option">
                    <div class="tools">
                        <p>location</p>
                        <p>Maldives</p>
                    </div>
                    <div class="tools">
                        <p>Package opened</p>
                        <p>NOW</p>
                    </div>
                    <div class="tools">
                        <p>Package closes</p>
                        <p>31 Mar, 2021</p>
                    </div>
                    <div class="tools">
                        <p>₦860,000 per couple </p>
                        <a class="btn btn-primary ">Book</a>
                    </div>
                </div>
            </div>
            <div class="recommend">
                
                <p>You May Also Like This:</p>
                <div class="extra">
                    <a href="nairobi.hbs">
                        
                        <img style="width: 100px; height:100px;" src="https://i.imgur.com/s7e797Q.jpg" alt="">
                            <p>Experience Nature</p>
                            <p> <span><i class="fas fa-map-marker-alt"></i></span> Nairobi</p> 
                            <p>₦175,000 per person sharing</p>
                    </a>
                </div>
                <div class="extra">
                    <a href="dubai.hbs">
                        
                        <img style="width: 100px; height:100px;" src="https://i.imgur.com/bCEO11L.jpg" alt="">
                        <p>Couple Fantasies</p>
                            <p> <span><i class="fas fa-map-marker-alt"></i></span> Dubai</p>
                            <p>₦250,125 per person sharing</p>
                    </a>
                </div>
                <div class="extra">
                    <a href="">
                        
                        <img style="width: 100px; height:100px;" src="https://i.imgur.com/bCEO11L.jpg" alt="">
                        <p>Business Trip</p>
                            <p> <span><i class="fas fa-map-marker-alt"></i></span> dubai</p>
                            <p>₦50,000</p>
                    </a>
                </div>
            </div>
        </div>
    <div class="description">
        <h6>Inclusions:</h6>
        
        <ul>
            <li> <span><i class="far fa-hand-point-right"></i></span> 4 Nights Stay at Paradise Island Resort</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Welcome drink on arrival at the Resort </li>
            <li> <span><i class="far fa-hand-point-right"></i></span>  Daylight Tennis, Basketball, Jacuzzi</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Tea/ Coffee making facilities</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Land Sports, includes; Badminton, Snooker/ Billiards,Table Tennis, Beach Volleyball,Squash,Sauna,Steam bath</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> A bottle of Sparkling wine and fruit basket for honeymooners</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Return Speedboat Transfer</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> A birthday cake and a bottle of wine, on Birthdays celeberated at the Resort</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> 2 bottles OF water 500ml per day to be placed in the room </li>
        </ul>
        
    </div>
    
        
        
    </div>
   