
    <div class="covid shadow">
        <h4 style="color: darkmagenta; font-weight:bolder;">Management Team</h4>
        <p>Our people are our most valuable asset, We motivate and retain a highly talented pool of people from diverse backgrounds. </p>
    <p>Our team have years of experience across the travel industry to deliver excellent customer service and make travel easier and more rewarding for everyone.</p>
    
    </div>
    
    <div class="contact-us">
       <div class="profile shadow">
           <img src="https://i.imgur.com/y2reiuh.png" class="manage" alt="">
           <h6>CHIEF EXECUTIVE</h6>
           <h3>Chief John Adebanjo</h3>
       </div>
       <div class="profile shadow">
           <img src="https://i.imgur.com/RLOezSf.png" class="manage" alt="">
        <h6>GROUP DMD</h6>
        <h3>Mrs. Abiodun <br>
            Adebanjo</h3>
      </div>
      <div class="profile shadow">
        <img src="https://i.imgur.com/gzlT1kH.png" class="manage" alt="">
        <h6>HR MANAGER</h6>
        <h3>Margaret <br>
            Osa</h3>
      </div>
      <div class="profile shadow">
        <img src="https://i.imgur.com/ofg8ecq.png" class="manage" alt="">
        
        <h6>AVP ASSETS MANAGEMENT</h6>
        <h3>Temidayo <br> Kazeem</h3>
      </div>
    </div>
    <div class="contact-us">
      <div class="profile shadow">
        <img src="https://i.imgur.com/IlDcRVF.png" class="manage" alt="">
        
        <h6>T&T AGENCY MANAGER</h6>
        <h3>Bimbo <br> Aneke</h3>
        </div>
    </div>
    
    <br>
  