
    
    <div class="package">
        <h5>EXPERIENCE NATURES BEST</h5>
        <div class="deals">
            <div class="image">
                
                <img  src="https://i.imgur.com/s7e797Q.jpg" alt="">
                <div class="option">
                    <div class="tools">
                        <p>location</p>
                        <p>Nairobi</p>
                    </div>
                    <div class="tools">
                        <p>Package opened</p>
                        <p>NOW</p>
                    </div>
                    <div class="tools">
                        <p>Package closes</p>
                        <p>31 Apr, 2021</p>
                    </div>
                    <div class="tools">
                        <p>₦175,000 per person sharing </p>
                        <a class="btn btn-primary ">Book</a>
                    </div>
                </div>
            </div>
            <div class="recommend">
                
                <p>You May Also Like This:</p>
                <div class="extra">
                    <a href="nairobi.hbs">
                        
                        <img style="width: 100px; height:100px;" src="https://i.imgur.com/s7e797Q.jpg" alt="">
                            <p>Experience Nature</p>
                            <p> <span><i class="fas fa-map-marker-alt"></i></span> Nairobi</p> 
                            <p>₦175,000 per person sharing</p>
                    </a>
                </div>
                <div class="extra">
                    <a href="dubai.hbs">
                        
                        <img style="width: 100px; height:100px;" src="https://i.imgur.com/bCEO11L.jpg" alt="">
                        <p>Couple Fantasies</p>
                            <p> <span><i class="fas fa-map-marker-alt"></i></span> Dubai</p>
                            <p>₦250,125 per person sharing</p>
                    </a>
                </div>
                <div class="extra">
                    <a href="maldives.hbs">
                        
                        <img style="width: 100px; height:100px;" src="https://i.imgur.com/s1tn4Sr.jpg" alt="">
                        <p>Love In Maldives</p>
                            <p> <span><i class="fas fa-map-marker-alt"></i></span> Maldives</p>
                            <p>₦860,000 per couple</p>
                    </a>
                </div>
            </div>
        </div>
    <div class="description">
        <h6>Inclusions:</h6>
        
        <ul>
            <li> <span><i class="far fa-hand-point-right"></i></span> 4 Nights Accomodation</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Daily Buffet Breakfast </li>
            <li> <span><i class="far fa-hand-point-right"></i></span>  Return Airport Transfers</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Kenya Visa</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> National Park Zoo Visit</li>
            <li> <span><i class="far fa-hand-point-right"></i></span> Nairobi City Tour</li>
        </ul>
        
    </div>
    
        
        
    </div>
    
    <br>
  