<div class="tour-head">
    <p>Connect . Discover . Explore</p>
</div>

<div class="tour-packages">
    <div class="pack shadow">
        <img src="https://i.imgur.com/s1tn4Sr.jpg" alt="">
        <h4>Maldives</h4>
        <div class="patch">

            <p>₦860,000 Per Couple</p>
            <small>Travel Period: Feb 2nd - 31st Mar 2021</small>
        </div>
        <a class="btn btn-primary" href="/maldives">Book</a>
    </div>

    <div class="pack shadow">
        <img src="https://i.imgur.com/s7e797Q.jpg" alt="">
        <h4>Nairobi</h4>
        <div class="patch">

            <p>₦175,000 Per Person Sharing</p>
            <small>Travel Period: Easter 2021</small>
        </div>
        <a class="btn btn-primary" href="/nairobi">Book</a>
    </div>

    <div class="pack shadow">
        <img src="https://i.imgur.com/bCEO11L.jpg" alt="">
        <h4>Dubai</h4>
        <div class="patch">

            <p>₦250,125 Per Person Sharing</p>
            <small>Travel Period: Easter 2021</small>
        </div>
        <a class="btn btn-primary" href="/dubai">Book</a>
    </div>
</div>