<div class="transport-head">
  <p>Taking You There</p>
</div>
<div class="transport-intro shadow">

  <h4>Every Turn, Safety First
    Enjoy Your Next Trip</h4>
  <p>Tripplug Airport corporate Transfer offers private transfers services, from the airports to the cities and to the
    tourist resorts around Lagos. You can directly book online your airport transfer services page.</p>
  <p>The objectives are to continuously improve the offer of transfer services throughout Lagos, Nigeria always
    guaranteeing the utmost professionalism, to make the online booking of the services the customer needs for easier
    and faster to expand the offer.
  </p>


  <p>
    Our customer service is available every day, 24 hours a day, to assist you in case of need during your transfer and
    to try to meet all your needs.</p>
</div>
<div class="transport-div1 shadow">
  <div class="transport-img">
    <img src="https://i.imgur.com/Bofx6yd.png" alt="">

    <img src="https://i.imgur.com/sqHoiZ3.png" alt="">
    <img src="https://i.imgur.com/mi13NxD.png" alt="">
    <img src="https://i.imgur.com/VsUhz0a.png" alt="">
  </div>
   
  <div class="transport-text">
    <h4> HIRE VEHICLES IN LAGOS</h4>
    {{!-- <P>Starting From ₦15,000</P>
    <ul>
      <li> <span><i class="far fa-hand-point-right"></i></span> Quick and Easy</li>
      <li> <span><i class="far fa-hand-point-right"></i></span> Reliable</li>
      <li> <span><i class="far fa-hand-point-right"></i></span> Fully Air-Conditioned</li>
      <li> <span><i class="far fa-hand-point-right"></i></span> Covid-19 Sanitization Guidelines set out by WHO</li>
      <li> <span><i class="far fa-hand-point-right"></i></span> Full Day or Drop-off depending on Choice</li>
      <li> <span><i class="far fa-hand-point-right"></i></span> Quick and Easy</li>

    </ul>
    <a href="" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Book Now</a> --}}
    <form id="paymentform" method="POST" action="/transport">
      <p> Required Information </p>
      <div class="form-group">
        <label for="name"> Full Name:</label>
        <input type="text" class="form-control" id="name" name="name" required maxlength="50">
      </div>
      <div class="form-group">
        <label for="email"> Email:</label>
        <input type="email" class="form-control" id="email" name="email" required maxlength="50">
      </div>
      <div class="form-group">
        <label for="phone"> PhoneNumber:</label>
        <input type="phone" class="form-control" id="phone" name="phone" required maxlength="50">
      </div>
      <div class="form-group">
        <label for="sel1">Select Vehicle Type:</label>
        <select class="form-control" id="cartype" onChange="myNewFunction(this);">
          <option value="0" selected>Select Vehicle Type</option>

        </select>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" checked name="activity" onclick="changevalue(true)"
          id="activity1" value="dropoff">
        <label class="form-check-label" for="inlineRadio1">Dropoff</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="activity" onclick="changevalue(false)" id="activity2"
          value="fullday">
        <label class="form-check-label" for="inlineRadio2">Full Day</label>
      </div>
      <div class="form-group">
        <label for="amount"> Amount:</label>
        <input type="amount" class="form-control" value="" disabled id="amount" name="amount" required maxlength="50">
        <small id="" class="form-text text-muted">Transaction Charge: NGN 208.12</small>

      </div>
      <div class="form-group">
        <label for="date"> Pickup Date:</label>
        <input type="date" class="form-control" id="date" name="date" required maxlength="50">
      </div>
      <div class="form-group">
        <label for="time">Pickup Time :</label>
        <select class="form-control" id="time">
          <option selected>Select Time for pickup</option>
          <option value="1:00">1:00</option>
          <option value="2:00">2:00</option>
          <option value="3:00">3:00</option>
          <option value="5:00">5:00</option>
          <option value="6:00">6:00</option>
          <option value="7:00">7:00</option>
          <option value="8:00">8:00</option>
          <option value="9:00">9:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
        </select>
      </div>
      <div class="form-group">
        <label for="time">Pickup Period :</label>
        <select class="form-control" id="period">
          <option selected>Select period for pickup</option>
          <option value="AM">AM</option>
          <option value="PM">PM</option>
        </select>
      </div>


      <div class="form-group">
        <select class="form-control hide" id="select-form" onChange="myNewFunction(this);">
          <label for="sel1">Select No of days:</label>
          <option value="0" selected>Select No of days</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>


      <div class="form-group">
        <label for="passengers"> No of Passengers:</label>
        <input type="number" class="form-control" id="passengers" name="passengers" required>
      </div>
      <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Pay &rarr;</button>
    </form>
  </div>


</div>


<script>
  var paymentForm = document.getElementById('paymentform');
  paymentForm.addEventListener("submit", payWithPaystack, false);
  function payWithPaystack(e) {

    e.preventDefault();

    let fullname = document.getElementById("name").value;
    let email = document.getElementById("email").value;
    let phone = document.getElementById("phone").value;
    let date = document.getElementById("date").value;
    let time = document.getElementById("time").value;
    let period = document.getElementById("period").value;
    let amount = document.getElementById("amount").value;
    let passengers = document.getElementById("passengers").value;
    //let select_form = document.getElementById("select-form").value;

    if (fullname && email && phone && date && time && period && amount && passengers) {
      var handler = PaystackPop.setup({
        key: 'pk_live_d047c48dc87ba7753ac95663f67043c0ffe1b90c', // Replace with your public key
        email: email,
        amount: amount * 100,
        phone: phone,
        date: date,
        time: time,
        period: period,
        fullname: fullname,
        passengers: passengers,


        ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        onClose: function () {
          alert('Window closed.');
        },
        callback: function (response) {
          var message = 'Payment complete! Reference: ' + response.reference;
          alert(message);
        }
      });
      handler.openIframe();
    }
    else {
      alert('all fields are required')
    }
  }


 










  let buses = [{ cartype: "excort", dropoff: 18000, fullday: 35000 }, { cartype: "salooncar", dropoff: 15000, fullday: 20000 }, { cartype: "suv", dropoff: 18000, fullday: 40000 }, { cartype: "bus", dropoff: 15000, fullday: 35000 }]

  var selectElem = document.getElementById("cartype");
  
  let dropoffvalue = true
  
  let finalselection
  


  for (let i = 0; i < buses.length; i++) {
    let bus = buses[i];
    let element = document.createElement("option");
    element.innerText = bus.cartype;
    element.setAttribute('value', bus.cartype);
    selectElem.append(element);
  }



  

function loop(loop){
  
  for (i = 0; i < buses.length; i++) {
      if((loop == buses[i].cartype) && (dropoffvalue == true) ){
        document.getElementById("amount").value = buses[i].dropoff + 208
     
        
        break
        
      }else if((loop == buses[i].cartype) && (dropoffvalue == false)){
        document.getElementById("amount").value = buses[i].fullday + 208
        
        break
        
      }
    }
}

function myNewFunction(sel) {
    let cartype = sel.options[sel.selectedIndex].value
    
    finalselection = cartype
    loop(cartype)
    
    }

function changevalue(text){
     dropoffvalue = text
     loop(finalselection)
  }

 

</script>