
   
    <div class="travel-head">
      <p>Travel Insurance</p>
    </div>
    <div class="lounge-div">
      <div class="lounge-text">
        
        <h4>Travel Insurance</h4>
    <p>Is travel insurance worth it? That’s the big question for any traveler considering travel insurance.</p>    
    <p>If you’re taking a long, expensive, or ambitious trip to a far-flung destination, travel insurance could be a smart choice. </p>      
     <p>Travel isn’t without risk, but the good news is, with our third party vendor we would get you a flexible travel insurance that protects you from the pain of cancelled flights, unexpected sickness or loss of your luggage. </p>  
    </div>
      <div class="lounge-text">
        
        <h4>Required Information</h4>
        
        <form id="paymentform"  >
            
          <div class="form-group">
            <label for="exampleInputEmail1">Full Name</label>
            <input type="text" class="form-control" id="fullname" aria-describedby="" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email"  required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
          </div>
          <div class="form-group">
            <label for="Amount">Phone Number</label>
            <input type="phone" class="form-control" id="phonenumber" required>
          </div>
         
          <div class="form-group">
            
            <button type="submit" class="btn btn-primary book-now">Submit</button>
          </div>
        </form>
       
      </div>
      
      
    </div>
  